body {
    background-color: #87CEFA;
}

h1 {
    margin-left: 1.5rem;
    font-size: 3.125rem;
    font-family: "Tangerine", cursive;
    font-weight: bold;
    margin-right: 2rem;
}

.Navbar {
    background-color: rgb(238, 238, 238);
    display: flex;
    height: 7.5rem;
    align-items: center;
    border-radius: 1.5rem;
    opacity: 80%;
    gap: 2rem;
    font-size: 1.0625rem;
    font-family: "open sans", sans-serif;
    font-weight: bold;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.Login-container {
    margin-left: 38rem;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-top: 9.4rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "open sans", sans-serif;
    font-weight: bold;
}

.Travel-content {
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 16.5625rem;
    border-radius: 1.5625rem;
    background-color: white;
    opacity: 80%;
}

.Travel-title {
    margin-top: 1.25rem;
    color: black;
}

.Privatejet-content {
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 16.5625rem;
    border-radius: 1.5625rem;
    background-color: white;
    opacity: 80%;
}

.Privatejet-title {
    margin-top: 1.25rem;
    color: black;
}

.Allinclusive-content {
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 16.5625rem;
    border-radius: 1.5625rem;
    background-color: white;
    opacity: 80%;
}

.Allinclusive-title {
    margin-top: 1.25rem;
    color: black;
}

.Aboutus-content {
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 16.5625rem;
    border-radius: 1.5625rem;
    background-color: white;
    opacity: 80%;
}

.Aboutus-title {
    margin-top: 1.25rem;
    color: black;
}

.Ourjet-content {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    gap: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 90%;
    height: 35rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: white;
    border-radius: 25px;
    opacity: 80%;
}

.flights-section {
    display: flex;
    flex-direction: column;
}

.Ourjet-title {
    display: flex;
    align-self: flex-start;
    color: black;
    font-size: 1.75rem;
}

.Privateflight-title {
    display: flex;
    align-self: flex-end;
    color: black;
    font-size: 1.75rem;
}

.Ourjet-images {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.Ourjet-images img {
    height: 12rem;
    width: 12rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.Privateflight-images {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.Privateflight-images img {
    height: 12rem;
    width: 12rem;
    border-radius: 10px;
     margin-top: 2rem;
}

.jet-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jet-name {
    color: black;
    font-size: 1rem;
    text-align: center;
    font-family: "open sans", sans-serif;
}

.flight-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flight-name {
    color: black;
    font-size: 1rem;
    text-align: center;
    font-family: "open sans", sans-serif;
}